.InputOptions {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  color: gray;
  transition: all 0.25s;
}

.InputOptions:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.InputOptions > h4 {
  margin-left: 5px;
}
